<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        <h3>Reset Your Password</h3>
        <form method="post">
            <table>
                <tr>
                    <td>New password</td>
                    <td><input type="text" name="new_password"/></td>
                </tr>
                <tr>
                    <td>Confirm password</td>
                    <td><input type="text" name="confirm"/></td>>
                </tr>
            </table>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>
