

{% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet"> 

 <center>
  <div class="container">
    <div class="py-3 text-center">
      {% load static %}
      <img class="d-block mx-auto mb-1" src="{% static 'img/SnakeSquad-DSC-Logo.png' %}" alt="" width="auto" height="108">
    </div>

    <div class="col-md-8 order-md-1">
      <h3 class="mb-3">Personal Information</h3>
      <form class="needs-validation" novalidate method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label for="password">Password <span class="text-muted"></span></label>
         <!--  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
          {{ password.password1 }}
          <div class="invalid-feedback">
            Valid password is required.
          </div>
        </div>

        <div class="mb-3">
          <label for="confirm_password">Confirm Password<span class="text-muted"></span></label>
          <!-- <input type="password" id="confirmPassword" class="form-control" placeholder="Password" required> -->
          {{ password.password2 }}
          <div class="invalid-feedback">
            Confirmed password must be same as password.
          </div>
        </div>


        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>

        <footer class="my-1 pt-5 text-muted text-center text-small">
          <p class="mb-1">&copy; 2018-2019 Snake Squad</p>
        </footer>
      </form>
    </div>
  </div>
</div>
</center>