<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping Cart</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/cart.css">
  
</head>

<body>
  <!-- ~~~~~~~~~~~~~~~~~ Navigation Bar ~~~~~~~~~~~~~~~~~ -->
  <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Logo, which is home -->
    <a class="navbar-brand" href="http://localhost:3000/">
      <img class="d-block mx-auto mb-0" src="images/Logo-light.png" alt="" width="auto" height="30">
    </a>

  <!-- Add bar items -->
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
        <!-- Go to Login Page -->

        <li class="nav-item">
          <a class="nav-link" id="login_navabar" onclick="onClickLogin()" style="display:block;">Login</a>
      </li>

      <li class="nav-item dropdown" id="Logindropdown" style="display:block;">
          <a class="nav-link dropdown-toggle" href="#" id="loginnavbarDropdown" role="button" 
          data-toggle="dropdown" style="display:none;" aria-haspopup="true" aria-expanded="false">
          login
      </a>
      <!--onclick functions can be found in navabar.js-->
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="navProfile">Profile</a>
          <a class="dropdown-item" id="navAddAPuppy">Add a Puppy</a>
          <a class="dropdown-item" id="navEditPostedPuppies">Edit Posted Puppies</a>
          <a class="dropdown-item" id="navRecharge">Recharge</a>
          <a class="dropdown-item" id="navTransactions">Transactions</a>
          <a class="dropdown-item" id="navLogout">Log Out</a>
      </div>
  </li>

  <!-- Go to Sign Up Page -->
  <li class="nav-item">
    <a class="nav-link" id="signup_navabar" onclick="onClickSignUp()" style="display:block;">Sign Up</a>
</li>

<!-- Check what is in the Cart -->
<li class="nav-item">
    <a class="nav-link" onclick="onClickCart()">Cart</a>
</li>
</ul>

<!-- Add search Buttom here -->
<!-- <form class="form-inline my-2 my-lg-0"> -->
  <input class="form-control mr-sm-2" style="width: 20%" type="search" placeholder="Search" id = "searchInput">
  <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchPet()" >Search</button>
  <!-- </form> -->
</div>
</nav>



<!-- Here starts the main page -->
<main role="main" class="container">
    <h1>Shopping Cart</h1>

    <div class="shopping-cart">
      <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
      </div>

     <div id="productRow">

     </div>

     <div id="product-none" style="display: none">
      <div class="product">
        <div class="product-image">
          <img>
      </div>

      <div class="product-details">
          <div class="product-title"></div>
          <p class="product-description"></p>
          <p class="product-description1"></p>
          <p class="product-description2"></p>
      </div>
      <div class="product-price" id="product-price">0</div>

      <div class="product-quantity" id="quantity">1</div>
      <!-- <div class="product-quantity">
        <input type="number" value="1" max="1" min="1" id="quantity">
    </div> -->

    <div class="product-removal">
        <button class="remove-product" data-id="0">
          Remove
      </button>
  </div>

  <div class="product-line-price" id="product-line-price">0</div>
</div>
</div>

<div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">0</div>
  </div>
  <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">0</div>
  </div>
  <div class="totals-item">
      <label>Number of Seller</label>
      <div class="totals-count" id="num-seller">0</div>
  </div>
  <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">0</div>
  </div>
  <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">0</div>
  </div>
  <div class="totals-item totals-item-total">
      <label>Address</label>
      <p class="totals-address" id="address">Address</p>
  </div>
</div>

<button class="checkout" id="btn-checkout">Checkout</button>
</div>
</main>




<!-- Load .js files here  -->
<!-- firebase core js -->
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<script src="js/web3.min.js"></script>
<script src="js/truffle-contract.js"></script>
<script src="js/navbar.js"></script>
<script src="js/logout.js"></script>
<script src="js/cart.js"></script>
<script src="js/checkout.js"></script>
<script src="js/generators.js"></script>

</body>

</html>
