<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sign Up a DSC Account</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <!--<link href="css/navbar.css" rel="stylesheet">-->
  <!-- Custom styles for this template -->
  <link href="css/sign_up.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- Load online javascripts -->


  <meta name="viewport" content="width=device-width, intitial-scale=1">

  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 
</head>

<body>
<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Logo, which is home -->
      <a class="navbar-brand" href="#">
      <img class="d-block mx-auto mb-0" src="images/Logo-light.png" alt="" width="auto" height="30">
      </a>

      <!-- Add bar items -->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
          <!-- Go to Login Page -->
          
          <li class="nav-item">
            <a class="nav-link" id="login_navabar" onclick="onClickLogin()" style="display:block;">Login</a>
     
          </li>
          
            <li class="nav-item dropdown" id="Logindropdown" style="display:block;">
            <a class="nav-link dropdown-toggle" href="#" id="loginnavbarDropdown" role="button" data-toggle="dropdown" style="display:none;" aria-haspopup="true" aria-expanded="false">
          login
            </a>
            <!--onclick functions can be found in navabar.js-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="navProfile">Profile</a>
              <a class="dropdown-item" id="navAddAPuppy">Add a Puppy</a>
              <a class="dropdown-item" id="navEditPostedPuppies">Edit Posted Puppies</a>
              <a class="dropdown-item" id="navRecharge">Recharge</a>
              <a class="dropdown-item" id="navTransactions">Transactions</a>
              <a class="dropdown-item" id="navLogout">Log Out</a>
            </div>
          </li>


          <!-- Go to Sign Up Page -->
          <li class="nav-item">
            <a class="nav-link" id="signup_navabar" onclick="onClickSignUp()" style="display:block;">Sign Up</a>
          </li>
          
          
          <!-- Check what is in the Cart -->
          <li class="nav-item">
            <a class="nav-link" onclick="onClickCart()">Cart</a>
          </li>
        </ul>
        <!-- Add search Buttom here -->
        <!-- <form class="form-inline my-2 my-lg-0"> -->
          <input class="form-control mr-sm-2" style="width: 20%" type="search" placeholder="Search" id = "searchInput">
          <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchPet()" >Search</button>
        <!-- </form> -->
      </div>
    </nav>
    
     <center>
    
    <div class="container">
      <div class="py-3 text-center">
        <img class="d-block mx-auto mb-1" src="images/Logo-light.png" alt="" width="auto" height="10">
      </div>

        <div class="col-md-8 order-md-1">
          <h3 class="mb-3">Personal Information</h3>
          <!-- <form class="needs-validation" novalidate> --> 

              <div class="mb-3">
              
              <label for="email">Email</label>
              <p id="email"></p>
              <!--type="email" class="form-control"  placeholder="you@example.com" value=""required> -->
              
              <div class="invalid-feedback" id="emailfeedback" style="display:none;">
                Please enter a valid email address for shipping updates.
              </div>

              <div class="row">
              <div class="col-md-6 mb-3">
                
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="first_name" placeholder="First Name" value="" required>
                
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="last_name" placeholder="Last Name" value="" required> 
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>


            <div class="mb-3">
              <label for="password">Password <span class="text-muted"></span></label>
            <input type="password" id="psw" class="form-control" placeholder="Password" required> 
              <div class="invalid-feedback">
                Valid password is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="confirm_password">Confirm Password<span class="text-muted"></span></label>
             <input type="password" id="psw-repeat" class="form-control" placeholder="confirm password" required> 
              
              <div class="invalid-feedback">
                Confirmed password must be same as password.
              </div>
            </div>

            <hr>

            <h3 class="mb-3">Mailing Address</h3>
            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address1" placeholder="1234 Main St" required> 
            </div>

            <div class="mb-3">
              <label for="address2">Address 2</label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite" required> 
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Country<span class="text-muted">(Optional)</span></label>
               <select class="custom-select d-block w-100" id="country">
                  <option value="" id="country-option1">Autralia</option>
                </select> 
              </div>

              <div class="col-md-4 mb-3">
                <label for="state">State<span class="text-muted">(Optional)</span></label>
                 <select class="custom-select d-block w-100" id="state">
                  <option value="" id="state-option1"></option>
                  <option name="state" id="state-option2" value="NSW">NSW</option>
                  <option name="state" id="state-option3" value="California">Queensland</option>            
                </select> 
              </div>
              
              <div class="col-md-3 mb-3">
                <label for="zip">Zip<span class="text-muted">(Optional)</span></label>
                 <input type="text" class="form-control" data-style="btn-primary" id="zip" placeholder="">   
              </div>
            </div>

          <hr>

          <button class="btn btn-secondary btn-lg btn-block" type="submit" 
            id="editPersonBtn" name="editPerson" onclick="editPerson()">Confirm Personal Information
          </button>
         </div>

            <footer class="my-1 pt-5 text-muted text-center text-small">
              <p class="mb-1">&copy; 2018-2019 Snake Squad</p>
            </footer>
          <!--</form>-->
        </div>
    
    </center>
   <!-- </main>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- firebase core js -->
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/web3.min.js"></script>
  <script src="js/truffle-contract.js"></script>
  <script src="js/simpleCart.min.js"> </script>
  <script src="js/editPerson.js"> </script>
  <script src="js/navbar.js"></script>
  <script src="js/signup.js"></script>
  <script src="js/generators.js"></script>
</body>
</html>
