<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Edit Posted Puppies</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="css/navbar.css" rel="stylesheet">
  </head>



  <body>
    <!-- ~~~~~~~~~~~~~~~~~ Navigation Bar ~~~~~~~~~~~~~~~~~ -->
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Logo, which is home -->
      <a class="navbar-brand" href="http://localhost:3000/">
        <img class="d-block mx-auto mb-0" src="images/Logo-light.png" alt="" width="auto" height="30">
      </a>

      <!-- Add bar items -->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
          <!-- Go to Login Page -->
          
          <li class="nav-item">
            <a class="nav-link" id="login_navabar" onclick="onClickLogin()" style="display:block;">Login</a>
          </li>
          
          <li class="nav-item dropdown" id="Logindropdown" style="display:block;">
            <a class="nav-link dropdown-toggle" href="#" id="loginnavbarDropdown" role="button" 
            data-toggle="dropdown" style="display:none;" aria-haspopup="true" aria-expanded="false">
          login
            </a>
            <!--onclick functions can be found in navabar.js-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="navProfile">Profile</a>
              <a class="dropdown-item" id="navAddAPuppy">Add a Puppy</a>
              <a class="dropdown-item" id="navEditPostedPuppies">Edit Posted Puppies</a>
              <a class="dropdown-item" id="navRecharge">Recharge</a>
              <a class="dropdown-item" id="navTransactions">Transactions</a>
              <a class="dropdown-item" id="navLogout">Log Out</a>
            </div>
          </li>

          <!-- Go to Sign Up Page -->
          <li class="nav-item">
            <a class="nav-link" id="signup_navabar" onclick="onClickSignUp()" style="display:block;">Sign Up</a>
          </li>
                    
          <!-- Check what is in the Cart -->
          <li class="nav-item">
            <a class="nav-link" onclick="onClickCart()">Cart</a>
          </li>
        </ul>

        <!-- Add search Buttom here -->
        <!-- <form class="form-inline my-2 my-lg-0"> -->
          <input class="form-control mr-sm-2" style="width: 20%" type="search" placeholder="Search" id = "searchInput">
          <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchPet()" >Search</button>
        <!-- </form> -->
      </div>
    </nav>







    <!-- Here starts the main page -->
    <main role="main" class="container">
      <center>
        <br/>
        <h1 class="text-center">Your Puppies</h1>
        <hr/>
        <br/>
      </center>

      <!-- Here listed all of the puppies on block chain -->
      <div id="searchPetsRow" class="row">
        <!-- PETS LOAD HERE, This is very important -->
      </div>
      <div id="petsRow" class="row">
        <!-- PETS LOAD HERE, This is very important -->
      </div>


    <!-- Here define the search template -->
    <div id="petTemplate" style="display: none;">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-default panel-pet">
          <center><div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div></center>
          <div class="panel-body">
            <img alt="140x140" data-src="holder.js/140x140" class="img-rounded img-center" style="width: 100%;" src="https://animalso.com/wp-content/uploads/2017/01/Golden-Retriever_6.jpg" data-holder-rendered="true">
            <br/><br/>
            <strong>Breed</strong>: <span class="pet-breed"></span><br/>
            <strong>Age</strong>: <span class="pet-age"></span><br/>
            <strong>Location</strong>: <span class="pet-location"></span><br/>
            <strong>Price</strong>: <span class="pet-price"></span><br/><br/>
            <!-- <strong>Seller</strong>: <span class="pet-seller"></span><br/><br/> -->
            <center>
              <button class="btn btn-default btn-edit btn-primary" type="button" data-id="0" >Edit</button>
            </center>
          </div>
        </div>
      </div>
    </main>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- firebase core js -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/edit_posted_puppies.js"></script>
    <script src="js/generators.js"></script>
    
  </body>
</html>
