<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home Page</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="css/navbar.css" rel="stylesheet">
    
  
  </head>



  <body>
    <!-- ~~~~~~~~~~~~~~~~~ Navigation Bar ~~~~~~~~~~~~~~~~~ -->
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Logo, which is home -->
      <a class="navbar-brand" href="#">
      <img class="d-block mx-auto mb-0" src="images/Logo-light.png" alt="" width="auto" height="30">
      </a>

      <!-- Add bar items -->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
          <!-- Go to Login Page -->
          
          <li class="nav-item">
            <a class="nav-link" id="login_navabar" onclick="onClickLogin()" style="display:block;">Login</a>
     
          </li>
          
            <li class="nav-item dropdown" id="Logindropdown" style="display:block;">
            <a class="nav-link dropdown-toggle" href="#" id="loginnavbarDropdown" role="button" data-toggle="dropdown" style="display:none;" aria-haspopup="true" aria-expanded="false">
          login
            </a>
            <!--onclick functions can be found in navabar.js-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="personinfo" onclick="onClickPorfile()">Profile</a>
              <a class="dropdown-item" id="addpuppy" onclick="onClickAddAPuppy()">Add a Puppy</a>
              <a class="dropdown-item" id="recharge" onclick="onClickRecharge()">Recharge</a>
              <a class="dropdown-item" id="transactions" onclick="onClickTransactions()">Transactions</a>
              <a class="dropdown-item" id="logout" onclick="onClickLogOut()">Log Out</a>
            </div>
          </li>


          <!-- Go to Sign Up Page -->
          <li class="nav-item">
            <a class="nav-link" id="signup_navabar" onclick="onClickSignUp()" style="display:block;">Sign Up</a>
          </li>
          
          
          <!-- Check what is in the Cart -->
          <li class="nav-item">
            <a class="nav-link" onclick="onClickCart()">Cart</a>
          </li>
          
          <!-- Add a Filter to Search Item -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Breed
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Polos</a>
              <a class="dropdown-item" href="#">Casual Shirts</a>
              <a class="dropdown-item" href="#">Casual Trousers</a>
              <a class="dropdown-item" href="#">Jeans</a>
              <a class="dropdown-item" href="#">Shorts & 3/4th</a>
              <a class="dropdown-item" href="#">Formal Shirts</a>
              <a class="dropdown-item" href="#">Formal Trousers</a>
              <a class="dropdown-item" href="#">Suits & Blazers</a>
              <a class="dropdown-item" href="#">Track Wear</a>
              <a class="dropdown-item" href="#">Inner Wear</a>
            </div>
          </li>
        </ul>
        <!-- Add search Buttom here -->
        <!-- <form class="form-inline my-2 my-lg-0"> -->
          <input class="form-control mr-sm-2" style="width: 20%" type="search" placeholder="Search" id = "searchInput">
          <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchPet()" >Search</button>
        <!-- </form> -->
      </div>
    </nav>
    <!-- Here starts the main page -->
    <main role="main" class="container">
      <center>
        <br/>
        <h1 class="text-center">Puppy Shop</h1>
        <div  class="shop-cart" id="shop-cart" >
          <a  class="goToShopingCartPage">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
        <div class="shop-cart-index" id="shop-cart-index">0</div>
        <hr/>
        <br/>
      </center>
      <div id="searchPetsRow" class="row">
        <!-- PETS LOAD HERE, This is very important -->
      </div>
      <div id="petsRow" class="row">
        <!-- PETS LOAD HERE, This is very important -->
      </div>


    
    <div id="petTemplate" style="display: none;">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-default panel-pet">
          <center><div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div></center>
          <div class="panel-body">
            <img alt="140x140" data-src="holder.js/140x140" class="img-rounded img-center" style="width: 100%;" src="https://animalso.com/wp-content/uploads/2017/01/Golden-Retriever_6.jpg" data-holder-rendered="true">
            <br/><br/>
            <strong>Breed</strong>: <span class="pet-breed"></span><br/>
            <strong>Age</strong>: <span class="pet-age"></span><br/>
            <strong>Location</strong>: <span class="pet-location"></span><br/><br/>
            <center>
            <button class="btn btn-default btn-add btn-primary" type="button" data-id="0" >Add To Cart</button>
            </center>
          </div>
        </div>
      </div>
    </main>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- firebase core js -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/app.js"></script>
    <script src="js/navbar.js"></script>
  </body>
</html>
