<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Signoin a DSC Account</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"> -->
  <!--<link href="css/navbar.css" rel="stylesheet">-->
  <!-- Custom styles for this template -->
  <link href="css/login.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  

  

  <meta name="viewport" content="width=device-width, intitial-scale=1">
  

  <!-- cart -->
  <script src="js/simpleCart.min.js"> </script>
</head>

<body>
<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Logo, which is home -->
      <a class="navbar-brand" href="#">
      <img class="d-block mx-auto mb-0" src="images/Logo-light.png" alt="" width="auto" height="30">
      </a>

      <!-- Add bar items -->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
          <!-- Go to Login Page -->
          <li class="nav-item">
            <a class="nav-link" id="login_navabar" onclick="onClickLogin()">Login</a>
     
          </li>


          <!-- Go to Sign Up Page -->
          <li class="nav-item">
            <a class="nav-link" onclick="onClickSignUp()">Sign Up</a>
          </li>
          
          
          <!-- Check what is in the Cart -->
          <li class="nav-item">
            <a class="nav-link" onclick="onClickCart()">Cart</a>
          </li>
  
        </ul>
        <!-- Add search Buttom here -->
        <!-- <form class="form-inline my-2 my-lg-0"> -->
          <input class="form-control mr-sm-2" style="width: 20%" type="search" placeholder="Search" id = "searchInput">
          <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchPet()" >Search</button>
        <!-- </form> -->
      </div>
    </nav>
  <!--
    <main role="main" class="container">
    -->
    
    <!--<form class="form-signin" id="loginSubmit" method="post" action="">-->
    <!--<div class="form-signin" id="loginSubmit">-->
    
    <!--<div class="modal-content" id="loginForm">-->
    <div class="form-signin" id="loginForm">
      <div class="text-center mb-6">
    
      <h2 class="h3 mb-3 font-weight-normal">&nbsp</h2>
      <img class="d-block mx-auto mb-1" src="images/Logo-dark.png" alt="" width="auto" height="72">
      <h2 class="h3 mb-3 font-weight-normal">&nbsp</h2>
     

      <label for="username" class="sr-only">Email address</label>
      <input type="email" name="username" placeholder="g@mail.com" autofocus="autofocus" class="form-control" maxlength="40" required id="username" />

      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" placeholder="password" autofocus="autofocus" class="form-control" maxlength="40" id="password" />
      <br>

      <button class="btn btn-lg btn-secondary btn-block" type="submit" id="loginBtn" name="login" onclick="onClickCheckLogin()">Login</button>

      <button class="btn btn-lg btn-secondary btn-block" type="submit" id="forgetBtn" name="forget" onclick="onClickForget()">Forget Password</button>
    
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
      </div>
    
    </div>
  
    
    <!-- Load custom javascripts -->
    <!-- Load javascripts -->
    <script src="js/jquery.min.js"></script>
    <!-- <script src="js/check_validation.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- firebase core js -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/login.js"></script>
    <script src="js/forgetpassword.js"></script>


</body>
</html>
