<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home Page</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="css/navbar.css" rel="stylesheet">
    <script>
    function getCookieValue(name){   

    var name = escape(name);  
 
    var allcookies = document.cookie;         
  
    name += "=";  
    var pos = allcookies.indexOf(name);      

    if (pos != -1){                                             
        var start = pos + name.length;                 
        var end = allcookies.indexOf(";",start);        
        if (end == -1) end = allcookies.length;        
        var value = allcookies.substring(start,end);  
        return (value);                              
    }else{  
        return "";  
    }  
}  
window.onload = function(){  
    var userNameValue = getCookieValue("userName");  
    alert(userNameValue);
    if(userNameValue === undefined || userNameValue == null || userNameValue.length <= 0){
        document.getElementById("login_navabar").text = "Login"; 
        
        }
    else{
    /*
    document.getElementById("login_navabar").text = userNameValue;  
    document.getElementById("login_navabar").onclick = onClickshowperson;
    document.getElementById("signup_navabar").style.display = 'none';
    */
    document.getElementById("loginnavbarDropdown").text = userNameValue;  
    document.getElementById("loginnavbarDropdown").style.display = 'block';
    document.getElementById("login_navabar").style.display = 'none';
    document.getElementById("signup_navabar").style.display = 'none';
    
    }
    }
    </script>
  
  </head>



  <body>
    <!-- ~~~~~~~~~~~~~~~~~ Navigation Bar ~~~~~~~~~~~~~~~~~ -->
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Logo, which is home -->
      <a class="navbar-brand" href="#">
      <img class="d-block mx-auto mb-0" src="images/Logo-light.png" alt="" width="auto" height="30">
      </a>

      <!-- Add bar items -->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
          <!-- Go to Login Page -->
          
          <li class="nav-item">
            <a class="nav-link" id="login_navabar" onclick="onClickLogin()" style="display:block;">Login</a>
     
          </li>
          
            <li class="nav-item dropdown" id="Logindropdown" style="display:block;">
            <a class="nav-link dropdown-toggle" href="#" id="loginnavbarDropdown" role="button" data-toggle="dropdown" style="display:none;" aria-haspopup="true" aria-expanded="false">
          login
            </a>
            <!--onclick function can be found in navabar.js-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="personinfo" onclick="onClickshowperson()">Profile</a>
              <a class="dropdown-item" id="addpuppy" onclick="onClickaddpuppy()">add Puppy</a>
              <a class="dropdown-item" id="recharge" onclick="onClickrecharge()">recharge</a>
              <a class="dropdown-item" id="transactions" onclick="onClicktransactions()">transactions</a>
              <a class="dropdown-item"id="logout" onclick="onClicklogout()">logout</a>
  
            </div>
          </li>


          <!-- Go to Sign Up Page -->
          <li class="nav-item">
            <a class="nav-link" id="signup_navabar" onclick="onClickSignUp()" style="display:block;">Sign Up</a>
          </li>
          
          
          <!-- Check what is in the Cart -->
          <li class="nav-item">
            <a class="nav-link" onclick="onClickCart()">Cart</a>
          </li>
          
          <!-- Add a Filter to Search Item -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Breed
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Polos</a>
              <a class="dropdown-item" href="#">Casual Shirts</a>
              <a class="dropdown-item" href="#">Casual Trousers</a>
              <a class="dropdown-item" href="#">Jeans</a>
              <a class="dropdown-item" href="#">Shorts & 3/4th</a>
              <a class="dropdown-item" href="#">Formal Shirts</a>
              <a class="dropdown-item" href="#">Formal Trousers</a>
              <a class="dropdown-item" href="#">Suits & Blazers</a>
              <a class="dropdown-item" href="#">Track Wear</a>
              <a class="dropdown-item" href="#">Inner Wear</a>
            </div>
          </li>
        </ul>
        <!-- Add search Buttom here -->
        <!-- <form class="form-inline my-2 my-lg-0"> -->
          <input class="form-control mr-sm-2" style="width: 20%" type="search" placeholder="Search" id = "searchInput">
          <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchPet()" >Search</button>
        <!-- </form> -->
      </div>
    </nav>
    <!-- Here starts the main page -->
    <p>recharge</p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- firebase core js -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/app.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/login.js"></script>
    <script src="js/signup.js"></script>
  </body>
</html>
