<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home Page</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- Custom css files -->
    <link href="css/navbar.css" rel="stylesheet">
  </head>



  <body>
    <!-- ~~~~~~~~~~~~~~~~~ Navigation Bar ~~~~~~~~~~~~~~~~~ -->
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Logo, which is home -->
        <a class="navbar-brand" href="http://localhost:3000/">
            <img class="d-block mx-auto mb-0" src="images/Logo-light.png" alt="" width="auto" height="30">
        </a>

      <!-- Add bar items -->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
            <!-- Go to Login Page -->
            <li class="nav-item">
                <a class="nav-link" id="login_navabar" onclick="onClickLogin()" style="display:block;">Login</a>
            </li>
          
            <li class="nav-item dropdown" id="Logindropdown" style="display:block;">
                <a class="nav-link dropdown-toggle" href="#" id="loginnavbarDropdown" role="button" data-toggle="dropdown" style="display:none;" aria-haspopup="true" aria-expanded="false">
                login
                </a>
                <!--onclick function can be found in navabar.js-->
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="navProfile">Profile</a>
                    <a class="dropdown-item" id="navAddAPuppy">add Puppy</a>
                    <a class="dropdown-item" id="navRecharge">recharge</a>
                    <a class="dropdown-item" id="navTransactions">transactions</a>
                    <a class="dropdown-item" id="navLogout">logout</a>
                </div>
            </li>


          <!-- Go to Sign Up Page -->
          <li class="nav-item">
            <a class="nav-link" id="signup_navabar" onclick="onClickSignUp()" style="display:block;">Sign Up</a>
          </li>
          
          
          <!-- Check what is in the Cart -->
          <li class="nav-item">
            <a class="nav-link" onclick="onClickCart()">Cart</a>
          </li>
          
          <!-- Add a Filter to Search Item -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Breed
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Polos</a>
              <a class="dropdown-item" href="#">Casual Shirts</a>
              <a class="dropdown-item" href="#">Casual Trousers</a>
              <a class="dropdown-item" href="#">Jeans</a>
              <a class="dropdown-item" href="#">Shorts & 3/4th</a>
              <a class="dropdown-item" href="#">Formal Shirts</a>
              <a class="dropdown-item" href="#">Formal Trousers</a>
              <a class="dropdown-item" href="#">Suits & Blazers</a>
              <a class="dropdown-item" href="#">Track Wear</a>
              <a class="dropdown-item" href="#">Inner Wear</a>
            </div>
          </li>
        </ul>

        <!-- Add search Buttom here -->
        <input class="form-control mr-sm-2" style="width: 20%" type="search" placeholder="Search" id = "searchInput">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchPet()" >Search</button>
      </div>
    </nav>

    <!-- Here starts the main page -->
    <div class="container">
        <center><h1>Current Balance</h1></center>
        <hr>
        <h2 id="userEmail"></h2>
        <h2 id="userBalance"></h2>
        <hr>
        <input id="rechargeInput" type="text">
        <center>
            <button class="btn btn-secondary btn-lg btn-block" type="submit"
                id="rechargeButton">Recharge
            </button>
        </center>
    </div>

    <!-- Hrere starts the javascrips -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- firebase core js -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/recharge.js"></script>
  </body>
</html>
