<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signup Your DSC Account</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'register/css/sign_up.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'register/css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
    <!-- Load javascripts -->
    <script src="{% static 'register/js/jquery.min.js'%}"></script>
	<script src="{% static 'register/js/check_validation.js'%}"></script>

	

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--webfont-->
	<!-- for bootstrap working -->
	<script src="{% static 'register/js/bootstrap-3.1.1.min.js'%}"></script>
	<!--	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>-->
	<!-- //for bootstrap working -->
	<!-- cart -->
	<script src="js/simpleCart.min.js"> </script>
  </head>

  <body>
  <!-- Include navigation bar -->
  <!--{% include "register/includes/navbar.html" %}-->

  <!-- Include login module -->
  {% include "register/includes/register.html" %}
  </body>
</html>
<!DOCTYPE html>
<html>


