<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Your DSC Account</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'login/css/login.css'%}" rel="stylesheet" type="text/css">
    <!-- Load javascripts -->
    <script src="{% static 'login/js/script_get_info.js'%}"></script>
  </head>

  <body>
  <!-- Include navigation bar -->
  {% include "login/includes/navbar.html" %}

  <!-- Include login module -->
  {% include "login/includes/login.html" %}
  </body>
</html>
