
    <form class="form-signin" id="loginSubmit" method="post" action="">
      {% csrf_token %}
      {% load static %}
      <h2 class="h3 mb-3 font-weight-normal">&nbsp</h2>
      <img class="d-block mx-auto mb-1" src="{% static 'img/SnakeSquad-DSC-Logo.png' %}" alt="" width="auto" height="72">
      <h2 class="h3 mb-3 font-weight-normal">&nbsp</h2>
      <label for="username" class="sr-only">Email address</label>
      <input type="email" id="username" class="form-control" placeholder="Email address"  value={{ username }} required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="submitBtn" onclick="submitBtnClick()">Login</button>
      <center><p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p></center>
    </form>
