
    <form class="form-signin" id="loginSubmit" method="post" action="">
      {% csrf_token %}
      <center>
      {% load static %}
      <h2 class="h3 mb-3 font-weight-normal">&nbsp</h2>
      <img class="d-block mx-auto mb-1" src="{% static 'img/SnakeSquad-DSC-Logo.png' %}" alt="" width="auto" height="72">
      <h2 class="h3 mb-3 font-weight-normal">&nbsp</h2>
      <label for="username" class="sr-only">Email address</label>
      {% if not check %}
        {% if check1 == False %}
          <script>
            alert("Heihei, user does not exist ^_^");
          </script>
        {% endif %}   
      {% endif %}
      {{ context.username }}
      <label for="password" class="sr-only">Password</label>
      {% if not check %}
        {% if check == False %}
          <script>
            alert("Heihei, you cannot login ^_^");
          </script>
        {% endif %}   
      {% endif %}
      {{ context.password }}
      <br>
      <button class="btn btn-lg btn-secondary btn-block" type="submit" id="submitBtn" name="login">Login</button>
      <button class="btn btn-lg btn-secondary btn-block" type="submit" id="submitBtn" name="forget">Forget Password</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
      </center>
    </form>
