<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sign Up a DSC Account</title>

  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'sign_up/css/sign_up.css'%}" rel="stylesheet" type="text/css">
  <link href="{% static 'sign_up/css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
  <!-- Load javascripts -->
  <script src="{% static 'sign_up/js/jquery.min.js'%}"></script>
  <script src="{% static 'sign_up/js/check_validation.js'%}"></script>

  <meta name="viewport" content="width=device-width, intitial-scale=1">

  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  <!-- cart -->
  <script src="{% static 'sign_up/js/simpleCart.min.js' %}"> </script>
</head>

<body class="bg-light">
  {% include "login/includes/navbar.html" %}
  
  {% include "sign_up/includes/personal_info.html" %}
</body>
</html>
