<center>
  <div role="main" class="container">
    <div class="py-3 text-center">
      {% load static %}
      <img class="d-block mx-auto mb-1" src="{% static 'img/SnakeSquad-DSC-Logo.png' %}" alt="" width="auto" height="108">
    </div>

    <div class="col-md-8 order-md-1">

      <p>Please answer the following questions.</p>

      <hr>

      <h3 class="mb-3">Account ID: {{ data.username }}</h3>
      <form class="needs-validation" novalidate method="post">
        {% csrf_token %}

        <!-- Here is Q1 -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Question One:</h6>
        
          <div class="media text pt-3">
            <h5 class="border-bottom border-gray pb-2 mb-0">{{ data.q1 }}</h5>
          </div>

          <div class="input-group mb-3">
            <!-- <input type="text" id="sq1_answer"class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter your answer" required autofocus> -->
            {{ answers.a1 }}
            <div class="invalid-feedback">Valid answer is required.</div>
          </div>
        </div>

        <!-- Here is Q2 -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Question Two:</h6>
          <div class="media text pt-3">
            <h5 class="border-bottom border-gray pb-2 mb-0">{{ data.q2 }}</h5>
          </div>

          <div class="input-group mb-3">
            {{ answers.a2 }}
            <div class="invalid-feedback">Valid answer is required.</div>
          </div>
        </div>

        <!-- Here is Q3 -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Question Three:</h6>

          <div class="media text pt-3">
            <h5 class="border-bottom border-gray pb-2 mb-0">{{ data.q3 }}</h5>
          </div>

          <div class="input-group mb-3">
            {{ answers.a3 }}
            <div class="invalid-feedback">Valid answer is required.</div>
          </div>
        </div>


        <!-- here is the confrim button -->
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to Set Security Questions</button>

        <footer class="my-1 pt-5 text-muted text-center text-small">
          <p class="mb-1">&copy; 2018-2019 Snake Squad</p>
        </footer>
      </form>
    </div>
  </div>
</div>
</center>