<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forget Password</title>
    {% load static %}
    <!-- Custom styles for this template -->
    <link href="{% static 'forget_password/css/forget_password.css'%}" rel="stylesheet" type="text/css">
  </head>

  <body class="bg-light">
  {% include "forget_password/includes/security_question.html" %}
  </body>
</html>
